<!-- second row -->
<div class="row" style="margin-top: 20px;">
    <div class="col-md-4" style="margin-top: 20px;">
        <div class="card h-100 bg-primary text-white">
            <div class="card-body">
                <h4 class="card-title">Quick Links</h4>
                <p class="card-text">Some example text. Some example text.</p>
                <a href="#" class="card-link text-white">Card link</a>
                <a href="#" class="card-link text-white">Another link</a>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 20px;">
        <div class="card h-100 bg-info text-white">
            <div class="card-body">
                <h4 class="card-title">Share This Site</h4>
                <!-- Basic Share Links -->
                <!-- Facebook (url) -->
                <a href="http://www.facebook.com/sharer/sharer.php?u=<URL>">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x" style="color: #55ACEE"></i>
                        <i class="fab fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                </a>
                <!-- Twitter (url, text, @mention) -->
                <a href="http://twitter.com/share?url=<URL>&text=<TEXT>via=<USERNAME>">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x" style="color: #55ACEE"></i>
                        <i class="fab fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                </a>
                <!-- LinkedIn (url, title, summary, source url) -->
                <a href="http://www.linkedin.com/shareArticle?url=<URL>&title=<TITLE>&summary=<SUMMARY>&source=<SOURCE_URL>">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x" style="color: #55ACEE"></i>
                        <i class="fab fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-4" style="margin-top: 20px;">
        <div class="card h-100 bg-primary text-white">
            <div class="card-body">
                <h4 class="card-title">Top Blogs</h4>
                <p class="card-text">Some example text. Some example text.</p>
                <a href="#" class="card-link text-white">Card link</a>
                <a href="#" class="card-link text-white">Another link</a>
            </div>
        </div>
    </div>
</div>
