<br><br>
<nav  id="mainmenu" class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-home fa-stack-5x"></i> Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Hire Me</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Blogs
            </a>
            <div class="dropdown-menu bg-dark">
                <a class="dropdown-item text-white" href="#">IT</a>
                <a class="dropdown-item text-white" href="#">Edutainment</a>
                <a class="dropdown-item text-white" href="#">Social</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-address-book fa-stack-5x"></i> Contact</a>
        </li>
    </ul>
    <!-- <form class="form-inline ml-auto" [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)" [ngClass]="{'loading': isLoading}" #myForm="ngForm">
        <input class="form-control mr-sm-2" type="text" placeholder="Keyword" formControlName="keyword">
        <button class="btn btn-outline-success" type="submit" (click)="search()" [disabled]="!myForm.form.valid">Search</button>
    </form> -->
    <form class="form-inline ml-auto">
        <input class="form-control mr-sm-2" type="text" placeholder="Keyword">
        <button class="btn btn-outline-success" type="submit" (click)="search()">Search</button>
    </form>
</nav>
<nav id="togglebutton" class="navbar navbar-expand-lg bg-dark navbar-dark sticky-top">

        <!-- Toggler/collapsibe Button -->
    <button onclick="myFunction(this)" class="dropbtn navbar-toggler">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
    </button>

    <!-- <form class="form-inline ml-auto" [formGroup]="searchForm" (ngSubmit)="search(searchForm.value)" [ngClass]="{'loading': isLoading}" #myForm="ngForm">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Keyword" formControlName="Keyword" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" (click)="search()" [disabled]="!myForm.form.valid"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form> -->
    <form class="form-inline ml-auto">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Keyword" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-success" type="button" (click)="search()"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <!-- Navbar links -->
    <div id="myDropdown" class="collapse navbar-collapse bg-dark" id="collapsibleNavbar" style="position: absolute;margin-top: 150px;margin-left: 0px;padding-left: 10px;width: 200px;border-radius: 5px;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa fa-home fa-stack-5x"></i> Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Hire Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"><i class="fas fa-address-book fa-stack-5x"></i> Contact</a>
            </li> 
        </ul>
    </div> 
</nav>

<script>
/* When the user clicks on the button, 
toggle between hiding and showing the dropdown content */
function myFunction(x) {
    document.getElementById("myDropdown").classList.toggle("show");
    x.classList.toggle("change");
}
</script>

<br><br>
