
<!-- To the right -->
<div class="float-right d-none d-sm-inline">
    Anything you want
    <!-- Facebook -->
    <a href="https://www.facebook.com/muwonge.emmanuel.31">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x" style="color: #55ACEE"></i>
            <i class="fab fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
    </a>
    <!-- Twitter -->
    <a href="https://twitter.com/manuelmuwonge">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fab fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
    </a>
    <!-- LinkedIn -->
    <a href="https://twitter.com/manuelmuwonge">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle-thin fa-stack-2x"></i>
            <i class="fab fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i>
        </span>
    </a>
</div>
<!-- Default to the left -->
<strong>Copyright &copy; 1997-2019 <a href="https://adminlte.io">Muwonge Emmanuel</a>.</strong> All rights reserved.