/* You can add global styles to this file, and also import other style files */
/* body {
    font-family: "Poppins", Arial, sans-serif;
    background: #000000;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
    color: #999999;
} */