<div class="container" style="background-color:skyblue; background: rgba(0, 0, 0, 0.5);">
    <!-- header -->
    <app-header></app-header>
    <!-- first row -->
    <div class="row text-white">
        <div class="col-lg-6">
            <p>
                <img src="assets/images/muwonge emmanuel.jpg" class="rounded-circle mx-auto d-block img-fluid" alt="Responsive image" > 
            </p>
        </div>
        <div class="col-lg-6">
            <br><br>
            <h1 style="text-align: center;">Hi, This is<br>Muwonge Emmanuel</h1>
            <h4 style="text-align: center;"><i>( Software Engineer and Data Scientist )</i></h4>
            <h5><i>Follow Me</i></h5>
            <!-- Facebook -->
            <a href="https://www.facebook.com/muwonge.emmanuel.31">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fab fa-facebook fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </span>
            </a>
            <!-- Twitter -->
            <a href="https://twitter.com/manuelmuwonge">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </span>
            </a>
            <!-- LinkedIn -->
            <a href="https://twitter.com/manuelmuwonge">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle-thin fa-stack-2x"></i>
                    <i class="fab fa-linkedin fa-stack-1x fa-inverse" aria-hidden="true"></i>
                </span>
            </a>
            <br><br>
            <p>
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
            </p>
            <p>
                Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
            </p>
        </div>
    </div>

    <!-- classic editor row -->
    <div class="row" style="margin-top: 20px;">
        <div class="col-md-12" style="margin-top: 20px;">
            <ckeditor [editor]="ClassicEditor" data="<p>Hello, world!</p>"></ckeditor>
        </div>
    </div>
    
  <script src="https://example.com/ckfinder/ckfinder.js"></script>

    <!-- document editor row -->
    <!-- <div class="row" style="margin-top: 20px;">
        <div class="col-md-12" style="margin-top: 20px;">
            <ckeditor [editor]="DocumentEditor" data="<p>Hello, world!</p>" (ready)="onReady($event)"></ckeditor>
        </div>
    </div> -->

    <!-- footer -->
    <app-links></app-links>


    <!-- footer -->
    <app-footer></app-footer>
    
</div>
